.residue
{
	font-family: monospace;
	font-size: small;
	display: inline-block;	
}

.beta-strand
{
	background-color: rgb(51,204,51);
}

.helix
{
	background-color: rgb(153,153,229);
}

.turn
{
	background-color: rgb(204,204,204);
}

#structure-viewer
{
	height: 450px;
}

#structure-text
{
	text-align: center;
	min-height: 20px;
}

#structure-controller
{
	padding-top: 15px;
	text-align: center;
}